In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
aha = "Balablhlvlkabhlk for pull request 230225 "

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_school = len(school_data_complete["school_name"].unique())
#Calculate the total number of students
total_student = len(school_data_complete["Student ID"].unique())
#Calculate the total budget
total_budget = school_data["budget"].sum()
#Calculate the average maths score
average_maths = school_data_complete["maths_score"].mean()
#Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()

#Total number of students
total=school_data_complete["maths_score"].count()
#Calculate the percentage of students with a passing maths score (50 or greater)
pass_maths_df = school_data_complete.loc[(school_data_complete["maths_score"]>=50),["maths_score","reading_score"]]
passmaths=pass_maths_df["maths_score"].count()
pcpassmaths=passmaths/total*100
#Calculate the percentage of students with a passing reading score (50 or greater)
passreading_df = school_data_complete.loc[(school_data_complete["reading_score"]>=50),:]
passreading=passreading_df["reading_score"].count()
pcpassreading=passreading/total*100
#Calculate the percentage of students who passed maths and reading (% Overall Passing)
pass_maths_reading_df=school_data_complete.loc[(school_data_complete["maths_score"]>=50)&(school_data_complete["reading_score"]>=50),:]
pcOverallPassing=pass_maths_reading_df["reading_score"].count()/total*100

#Create a dataframe to hold the above results
LocalGovArea_Summary = pd.DataFrame({"Total Schools":[total_school],
                                    "Total Students":[total_student],
                                    "Total Budget":[total_budget],
                                    "Average Maths Score":[average_maths],
                                    "Average Reading Score":[average_reading],
                                    "% Passing Maths":[pcpassmaths],
                                    "% Passing Reading":[pcpassreading],
                                    "% Overall Passing":[pcOverallPassing]})

#Optional: give the displayed data cleaner formatting
LocalGovArea_Summary.loc[:,"Total Budget"]="$" + LocalGovArea_Summary["Total Budget"].map('{:,.2f}'.format)
LocalGovArea_Summary.loc[:,"Total Students"]=LocalGovArea_Summary["Total Students"].map('{:,.0f}'.format)

LocalGovArea_Summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary
* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [33]:
df1=school_data_complete.groupby(["school_name","type"])

budget_by_school=school_data_complete.groupby("school_name").mean()["budget"].reset_index()

df2=df1.count().reset_index()
df3=df2[["school_name","type","Student ID"]]

df4=df3.loc[:,["school_name","type","Student ID"]]
df4["budget"]=budget_by_school["budget"]
df4["Per Student Budget"]=df4["budget"]/df4["Student ID"]

df4.loc[:,"Per Student Budget"]="$"+df4["Per Student Budget"].map('{:,.2f}'.format) #format to currency
df4.loc[:,"budget"]="$" + df4["budget"].map('{:,.2f}'.format) #format to currency

#average maths and reading score
dfsum=df1.sum().reset_index()
df4["Average Maths Score"]=dfsum["maths_score"]/df4["Student ID"]
df4["Average Reading Score"]=dfsum["reading_score"]/df4["Student ID"]

#% passing for maths
df_passmaths_byschool=school_data_complete.groupby('school_name')['maths_score'].apply(lambda x: (x>=50).sum()).reset_index()
df4["% Passing Maths"]=df_passmaths_byschool["maths_score"]/df4["Student ID"]*100

#% passing for reading
df_passreading_byschool=school_data_complete.groupby('school_name')['reading_score'].apply(lambda x: (x>=50).sum()).reset_index()
df4["% Passing Reading"]=df_passreading_byschool["reading_score"]/df4["Student ID"]*100

#Use df_passboth_byschool from previous cell before grouping to calculate % Overall Passing
df_passboth_byschool=pass_maths_reading_df.groupby('school_name').count().reset_index()
df4["% Overall Passing"]=df_passboth_byschool["Student ID"]/df4["Student ID"]*100

#Final formatting:
df5=df4.rename(columns={"school_name":"","type":"School Type","Student ID":"Total Students","budget":"Total School Budget"})
df6=df5.set_index("")
df6

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)
* Sort and display the top five performing schools by % overall passing.

In [35]:
Top_df = df6.sort_values(by='% Overall Passing', ascending=False).head(5)
Top_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)
* Sort and display the five worst-performing schools by % overall passing.

In [36]:
Bottom_df= df6.sort_values(by='% Overall Passing', ascending=True).head(15)
Bottom_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year
* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [55]:
df_school_year=school_data_complete.groupby(["school_name","year"]).mean()["maths_score"]
df_school_year.reset_index()
# series_y9=df_school_year.groupby('school_name')['year'].apply(lambda x: (x==9).sum()).reset_index()
# series_y9=df_school_year.loc[(df_school_year["year"] == 9),["maths_score"]]

              school_name  year  maths_score
0      Bailey High School     9    72.493827
1      Bailey High School    10    71.897498
2      Bailey High School    11    72.374900
3      Bailey High School    12    72.675097
4     Cabrera High School     9    72.321970
5     Cabrera High School    10    72.437768
6     Cabrera High School    11    71.008299
7     Cabrera High School    12    70.604712
8    Figueroa High School     9    68.477804
9    Figueroa High School    10    68.331586
10   Figueroa High School    11    68.811001
11   Figueroa High School    12    69.325282
12       Ford High School     9    69.021609
13       Ford High School    10    69.387006
14       Ford High School    11    69.248862
15       Ford High School    12    68.617811
16    Griffin High School     9    72.789731
17    Griffin High School    10    71.093596
18    Griffin High School    11    71.692521
19    Griffin High School    12    71.469178
20  Hernandez High School     9    68.586831
21  Hernandez High School    10    68.867156
22  Hernandez High School    11    69.154412
23  Hernandez High School    12    68.985075
24     Holden High School     9    70.543307
25     Holden High School    10    75.105263
26     Holden High School    11    71.640777
27     Holden High School    12    73.409639
28      Huang High School     9    69.081754
29      Huang High School    10    68.533246
30      Huang High School    11    69.431345
31      Huang High School    12    68.639316
32    Johnson High School     9    69.469286
33    Johnson High School    10    67.990220
34    Johnson High School    11    68.637730
35    Johnson High School    12    69.287393
36       Pena High School     9    71.996364
37       Pena High School    10    72.396000
38       Pena High School    11    72.523438
39       Pena High School    12    71.187845
40  Rodriguez High School     9    71.940722
41  Rodriguez High School    10    71.779808
42  Rodriguez High School    11    72.364811
43  Rodriguez High School    12    72.154626
44    Shelton High School     9    72.932075
45    Shelton High School    10    72.506696
46    Shelton High School    11    70.097087
47    Shelton High School    12    72.331536
48     Thomas High School     9    69.234273
49     Thomas High School    10    70.057007
50     Thomas High School    11    69.657831
51     Thomas High School    12    69.369822
52     Wilson High School     9    69.212361
53     Wilson High School    10    69.455446
54     Wilson High School    11    68.378965
55     Wilson High School    12    69.787472
56     Wright High School     9    71.741176
57     Wright High School    10    72.179012
58     Wright High School    11    73.275862
59     Wright High School    12    70.848238

## Reading Score by Year
* Perform the same operations as above for reading scores

## Scores by School Spending
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [37]:
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Scores by School Size
* Perform the same operations as above, based on school size.

## Scores by School Type
* Perform the same operations as above, based on school type

Whatever you aim to do, you will succeed!!!

## I have an awesome teammate for the last project wooohooo thanks Rob!